div.ui.active.visible.item.dropdown div.menu.transition.visible div.item a {
    color: #272727;
}

.erp_header{
    padding-bottom: 10px;
}

.erp_header .logo{
    clear:both;
    float:left;
    color: #2185D0;
    padding-left: 38px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26pt;
    margin-top:28px;
    margin-bottom: 32px;
}

.erp_header .logo img{
    height: 50px;
    float: left;
}

.erp_header .logo span {
    font-size: 22px;
    float: left;
    margin-top: 14px;
    margin-right: 0px;
    margin-left: -20px;
    text-align: left;
}

.erp_header .banner{
    float:right;
    margin-right: 0px;
    color: #333;
}

.erp_header .banner .account {
    margin-top: 13px;
}

.blank_line{
    height: 20px;
    width: 100%;
    clear: both;
    border: none;
    display: block;
}

div.readonly .input input,
div.readonly  textarea,
div.readonly .dropdown
{
    background-color: #f8f8f9 !important;
}

.clear_both {
    clear: both;
}

.search-result {
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
    height: 486px;
    border: solid 1px #e8e8e9;
    border-radius: 4px;
    background-color: #f2f1f0;
}

.quantityInput .input input {
    width: 80px;
}

.upInput .input input {
    width: 100px;
}

.uomInput .input input {
    width: 80px;
}

.gridTitle {
    font-weight: 700;
    font-size: 0.92857143em;
    margin-bottom: -8;
}

.gridBody {
    overflow: auto;
    height: 300px;
    background-color: #f8f8f8;
    border-style: solid;
    border-collapse: collapse;
    border-color: #dedede;
    border-width: 1px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 10px;
}

button.react-datepicker__navigation {
    color: transparent;
    height: 10px;
}
#mainMenu .ui.blue.inverted.stackable.clear_both.menu {
    font-size: 1em !important;
}

#subMenu .ui.borderless.compact.fluid.vertical.menu {
    border: none !important;
    box-shadow: none !important;
}

#subMenu .ui.borderless.compact.fluid.vertical.menu .item .header {
    font-size: 1em !important;
}

#subMenu .ui.borderless.compact.fluid.vertical.menu .item .menu .item {
    font-size: 1em !important;
}

.tox-notification.tox-notification--in{
    display: none !important;
}
.tox-notification--warning.tox-notifications-container
{
    display: none !important;
}

.tox-statusbar__branding {
    display: none;
}

.ui.modal {
    top: 10%;
}

.ui.fullscreen.modal {
    width: 94%!important;
    right: 1%!important;
    top: -5.5%!important;
    bottom: -5.5%!important;
    margin: 5em auto;
}

.ui.modal .scrolling.content {
    overflow: auto;
    height: 500px;
    padding-bottom: 600px;
}

.ui.modal .message {
    position: relative;
    min-height: 1em;
    background: #f8f8f9;
    padding: 15em 1.5em;
    margin-right: 50px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
}

.ui.modal .attached.segment {
    top: -1px;
    bottom: 0;
    left: 1px;
    border-radius: 0;
    margin: 1px -1px;
    width: calc(100% + 2px);
    max-width: calc(100% + 2px);
    box-shadow: none;
    border: 1px solid #d4d4d5;
}

.ui.modal .form .field>label {
    display: block;
    margin: 20px 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.ui.modal .orange.button {
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    margin-top: 10px;
}

.ui.toggle.checkbox input:focus:checked ~ .box::before, 
.ui.toggle.checkbox input:focus:checked ~ label::before,
.ui.toggle.checkbox input:checked ~ .box:before, 
.ui.toggle.checkbox input:checked ~ label:before
 {
    background-color: #2185d0 !important;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list{
    padding: 0;
}